<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.CusTomSoft.Mapper.MemberMapper">
	<select id="selectTest" resultType="string">
		select *from member
	</select>
	
	<insert id="insertMember" parameterType="hashMap">
		insert into member (name , id , Enum , password ,birth , 
							addr , addr2, tel , user_reg_date, email)
					values (#{name} , #{id} , 'test' , #{pwd}, #{birth},
							#{addr} , '강북' , #{tel} , sysdate(), 'test')
	</insert>
</mapper>